
@{
    ViewBag.Title = "_StaticModal";
}

<!-- Modal order -->
<div class="modal fade" id="tichDiemModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">TÍCH ĐIỂM MUA HÀNG</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="font-size: 16px;">
                <p>
                    Gomi cam kết thực hiện việc <b>cung cấp và cập nhật thông tin hàng hóa</b> đúng quy định pháp luật về “Trách nhiệm của thương nhân, tổ chức, cá nhân sở hữu website thương mại điện tử bán hàng”.
                </p>
                <p>
                    Dưới đây là các thông tin bắt buộc được Gomi công khai đầy đủ, rõ ràng đối với từng sản phẩm đang cung cấp trên website <a href="" class="text-decoration-none">gaubongcaocap.com</a>:
                </p>

                <p class="text-color-theme fw-bold">
                    1. Tên hàng hóa
                </p>

                <p>
                    Mỗi sản phẩm được niêm yết trên website đều thể hiện <b>tên gọi đầy đủ</b>, phản ánh chính xác đặc điểm nhận dạng của sản phẩm.
                </p>

                <p class="text-color-theme fw-bold">
                    2. Giá bán
                </p>

                <ul>
                    <li>
                        <b>Giá được hiển thị rõ ràng theo đơn vị tiền tệ VNĐ</b>, không bao gồm thuế GTGT, và <b>không gây hiểu nhầm cho người tiêu dùng</b>.
                    </li>
                    <li>
                        Trong trường hợp có chương trình giảm giá hoặc khuyến mãi, Gomi sẽ:
                        <ul class="ms-4">
                            <li>Hiển thị <b>giá gạch bỏ (giá gốc)</b> và <b>giá đã giảm</b>.</li>
                            <li>
                                Ghi rõ <b>thời gian áp dụng</b> chương trình khuyến mãi theo đúng quy định tại Luật Quảng cáo.
                            </li>
                        </ul>
                    </li>
                </ul>

                <p class="text-color-theme fw-bold">
                    3. Mô tả hàng hóa
                </p>

                <p>
                    Gomi đảm bảo cung cấp đầy đủ thông tin mô tả về sản phẩm bao gồm:
                </p>

                <ul>
                    <li>
                        <b>Kích thước</b>: Chi tiết theo chiều cao hoặc chiều dài từng dòng gấu bông (ví dụ: 40cm – 60cm – 1m – 1m6).
                    </li>

                    <li>
                        <b>Chất liệu</b>: Lông mềm mịn, nhồi bông polyester 3D tinh khiết, đảm bảo an toàn.
                    </li>

                    <li> <b>Màu sắc</b>: Ghi rõ màu hoặc có lựa chọn màu nếu có nhiều biến thể.</li>

                    <li>
                        <b> Đặc điểm nổi bật</b>: Có hút chân không khi giao hàng, có kèm thiệp chúc mừng và các dịch vụ đi kèm.
                    </li>
                </ul>

                <p class="text-color-theme fw-bold">
                    4. Thông tin về tình trạng hàng hóa
                </p>

                <ul>
                    <li>
                        Website Gomi.vn luôn <b>cập nhật chính xác số lượng tồn kho và tình trạng hàng hóa</b> (Còn hàng – Hết hàng – Sắp có hàng).
                    </li>

                    <li>
                        Trường hợp có thay đổi về tình trạng hàng hóa, hệ thống sẽ cập nhật trong <b>thời gian không quá 24 giờ kể từ thời điểm thay đổi</b>.
                    </li>
                </ul>

                <p class="text-color-theme fw-bold">
                    5. Thông tin về đơn vị chịu trách nhiệm hàng hóa
                </p>

                <ul>
                    <li>Toàn bộ hàng hóa đăng bán trên website Gomi.vn do Hộ kinh doanh Gomi chịu trách nhiệm phân phối.
                        <ul>
                            <li>
                                <b>Tên đơn vị</b>: Hộ kinh doanh Gomi
                            </li>

                            <li><b>Địa chỉ</b>: 340 Phan Đình Phùng, Phường 1, Quận Phú Nhuận, thành phố Hồ Chí Minh</li>

                            <li>
                                <b>Hotline</b>: 092 492 3399
                            </li>

                            <li><b>Email CSKH</b>: gomi.cskh@gmail.com</li>

                            <li>
                                <b>Mã số thuế</b>: 8478499707-001
                            </li>
                        </ul>
                    </li>
                </ul>

                

                <p class="text-color-theme fw-bold">
                    6. Cơ chế cập nhật và kiểm tra thông tin
                </p>

                <ul>
                    <li>
                        Gomi có hệ thống <b>quản lý nội dung sản phẩm</b> (CMS) cho phép kiểm tra và chỉnh sửa thông tin mô tả, giá bán, khuyến mãi theo thời gian thực.
                    </li>

                    <li>
                        Định kỳ <b>3 tháng/lần</b>, đội ngũ kiểm soát nội dung sẽ <b>rà soát toàn bộ danh mục sản phẩm</b>, đảm bảo thông tin còn hiệu lực và chính xác.
                    </li>

                    <li>
                        Trường hợp phát hiện có sai sót, Gomi cam kết <b>cập nhật lại trong vòng 24 giờ làm việc</b>.
                    </li>
                </ul>

                <p class="text-color-theme fw-bold">
                    7. Cam kết tuân thủ pháp lý
                </p>

                <ul>
                    <li>
                        Gomi cam kết:

                        <ul>
                            <li> Thực hiện đúng các quy định theo pháp luật.</li>

                            <li>
                                Không đăng tải thông tin gây nhầm lẫn về hàng hóa, dịch vụ;
                            </li>

                            <li>Hợp tác với cơ quan chức năng khi có yêu cầu xác minh hoặc kiểm tra thông tin hàng hóa.</li>
                        </ul>
                    </li>
                </ul>

                <p><b>Gomi – Chạm vào yêu thương</b></p>
                <p>Chúng tôi cam kết cung cấp thông tin trung thực, chính xác và minh bạch để bảo vệ quyền lợi người tiêu dùng và xây dựng niềm tin với khách hàng.</p>

            </div>

        </div>
    </div>
</div>


