
@{
    ViewBag.Title = "RegisterPage";
}

<div class="row my-5">
    <div class="col-6 border-end">
        <h2>Tôi là khách hàng mới</h2>
        <h5>Tạo một tài khoản và hưởng lợi từ nhiều lợi ích của một tài khoản người dùng</h5>

        <div class="mb-3">
            <label for="inputName">Họ & Tên *</label>
            <input type="text" class="form-control" id="inputName" name="name">
        </div>

        <div class="mb-3">
            <label for="inputEmail" class="form-label">Email *</label>
            <input type="email" class="form-control" id="inputEmail" name="email">
        </div>

        <div class="mb-3">
            <label for="inputSDT">Số điện thoại *</label>
            <input type="text" class="form-control" id="inputSDT" name="sdt">
        </div>

        <div class="mb-3">
            <label for="inputPassword1" class="form-label">Mật khẩu *</label>
            <input type="password" class="form-control" id="inputPassword1" name="password1">
            <div>
                <p>
                    <img src="@Url.Content("~/Content/Icons/missing.svg")" alt="" />
                    <span>Mật khẩu phải ít nhất 8 ký tự</span>
                </p>

                <p>
                    <img src="@Url.Content("~/Content/Icons/missing.svg")" alt="" />
                    <span>và thỏa các điều kiện sau:</span>
                    <ul>
                        <li>Ít nhất 1 chữ cái viết hoa</li>
                        <li>Ít nhất 1 chữ cái viết thường</li>
                        <li>Ít nhất 1 chữ số</li>
                        <li>Ít nhất 1 ký tự đặc biệt</li>
                    </ul>
                </p>
            </div>
        </div>

        <div class="mb-3">
            <label for="inputPassword2" class="form-label">Nhập lại mật khẩu *</label>
            <input type="password" class="form-control" id="inputPassword2" name="password2">
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkDieuKhoan" name="checkDieuKhoan" value="0">
            <label class="form-check-label" for="checkDieuKhoan">Tôi đã đọc và đồng ý với Điều khoản sử dụng*</label>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="checkThongBao" name="checkThongBao" value="1">
            <label class="form-check-label" for="checkThongBao">Nhận thông báo tin tức</label>
        </div>

        <button type="submit" class="btn btn-primary">Đăng Ký</button>
    </div>

    <div class="col-6">
        <h2>Bạn Đã Có Tài Khoản Khách Hàng?</h2>
        <h5>Vui lòng đăng nhập bằng dữ liệu tài khoản của bạn và tiếp tục mua hàng.</h5>

        <a href="@Url.Action("LoginPage", "User")" class="btn btn-primary">Đăng Nhập</a>
    </div>
</div>